<a 
	ng-if		= "tilesReady"
	ng-repeat 	= "tile in ic.tiles | orderBy : 'order'"
	ng-href		= "{{tile.link}}"
	ng-style	= "{ width: tile.stretch ? '100%' : null}"
	ng-class	= "{bottom: tile.bottom}"
	
>
	<div
		class 		= "background {{tile.icon ?  ' icon icon-'+tile.icon : ''}} {{tile.background ? 'background-image image-'+tile.background : ''}} {{tile.backgroundUrl ? 'background-image' : ''}}"
		ng-style	= "{'background-color': tile.color}"
		style		= "{{tile.backgroundUrl ? 'background-image: url('+tile.backgroundUrl+');' : ''}}"
	>
	</div>

	<div class ="content">
		<h3>{{tile.label | translate}}</h3>
		<p>{{tile.description | translate}}</p>
	</div>
</a>

<div  ng-if ="!tilesReady" class = "bg-0">
	<ic-spinner active = "true" class = "large">
	</ic-spinner>
</div>
