<ic-taxonomy-filter-tag-list class = "bg-0 padding">
</ic-taxonomy-filter-tag-list>

<ic-taxonomy-filter-categories 
	expanded 				= "true"
	show-sub-categories 	= "true"
>
</ic-taxonomy-filter-categories>

<section 
	class 		= "unsorted"
	ng-repeat 	= "(key, tagGroup) in ic.taxonomy.tags" 
	ng-if		= "key != 'lists'"
>
	<div
		class 		= "bg-0 padding tal"
		ng-click	= "ic.overlays.toggle('taxonomyOverlay_'+key)"
		ic-touch-me	= "true" 
	>{{'INTERFACE.TAGS_%s' | fill : key| translate}}
	</div>
	
</section>