:root{
	--primary-color:				#5595D2;
	--secondary-color:				#608CB9;
	--primary-background-color:		#FFFFFF;
	--secondary-background-color:	#e6e6e6;
	--plain-color:					#949494;

	--dark-text-color:				#232323;	
	--light-text-color:				#fff;
	--plain-text-color:				#666;

	--neutral-color:				#949494;

	--error-color:					red;
	
}



:root.ic-font-size-adjusted {

	--dark-text-color:				#111;	
	--light-text-color:				#fff;
	--plain-text-color:				#222;

}