

/* ic-text-logo */

.ic-logo-full,
ic-logo-full,
.ic-text-logo,
ic-logo-print,
ic-logo-line,
ic-logo-text {
	display:						inline-flex;
	position:						relative;
	align-items:					center;
}


ic-logo-print > img,
.ic-logo-full  > img,
ic-logo-full  > img,
.ic-text-logo > img,
ic-logo-line > img,
ic-logo-text > img {
	object-fit:						contain;
	height:							1em;
	width:							1em;
}

.ic-text-logo > span,
ic-logo-line > span,
ic-logo-text > span {
	display:						inline-block;
	font-size:						0.4em;
	line-height:					1.2;
	margin-left:					1em;
}




/* ic-logo-full */

.ic-logo-full,
ic-logo-full {
	
}

.ic-logo-full  > span,
ic-logo-full  > span {
	display:						inline-block;
	font-size:						0.3em;
	line-height:					1.1;
	margin-left:					1em;
	max-width:						10em;
}


/* ic-logo-print */

ic-logo-print {
	color:							#000;
}

ic-logo-print > span {
	display:						inline-block;
	font-size:						0.3em;
	line-height:					1.1;
	margin-left:					1em;
	max-width:						10em;
}


.print .sponsors {
	
}