
ic-header .logo {
	justify-content:			flex-start;
}

ic-page header .search {
	position:					absolute;
	bottom:						0;
	background:					transparent;
	left:						0;
	right:						0;
}

ic-search form {
	background:					transparent;
}



ic-taxonomy-filter section h2 {

}


ic-taxonomy-overlay {
	padding-top:				0;
	padding-left:				1rem;
	padding-right:				1rem;
	padding-bottom:				1rem;
	
	display:					flex !important;
	flex-direction:				column;
	align-items: 				center;
}

ic-taxonomy-overlay h2 {
	display:					block;
	margin:						0 auto;
	margin-bottom:				2rem;
	text-align:					center;
}

ic-taxonomy-overlay ul {
	display:					flex;
	padding-left:				0 !important;
	padding-right:				0 !important;
	padding-top:				0 !important;
	padding-bottom:				0 !important;
	margin:						auto;
	max-width:					45rem;
	flex-wrap:					wrap;
	width:						auto !important;
	justify-content: 			space-between;
}

ic-taxonomy-overlay ul li {
	flex:						0 0 20rem;
	display:					inline-flex !important;
	align-items:				center;
	justify-content:			start;
	height:						3rem;
	padding-left:				3rem;
	padding-right:				0.5rem;
	background-position:		0.75rem 50% !important;
}

ic-taxonomy-overlay ul .types li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul .categories li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul .unsorted li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul li div {
	flex:						1 1 auto;
	display:					inline-block;
	vertical-align:				middle;
}

ic-taxonomy-overlay ul li .bubble {
	display:					inline-block;
	flex:						0 0 auto;
}
