
ic-header .logo {
	justify-content:			flex-start;
	margin-left:				2rem;
}

ic-header .logo ic-logo-full {
	font-size:					5rem;
}

ic-page p {
	line-height:				1.85em;
}

ic-page header {
	height:						7rem;
	background-image:			none !important;
	background-color:			#CACACA;
}

ic-page header .search {
	position:					absolute;
	bottom:						0;
	background:					transparent;
	left:						0;
	right:						0;
}

ic-page	h3 {
	font-size:					1.75em;
}

ic-page .no-space{
	margin-bottom:				0;
	padding-bottom:				0;
}

ic-page ic-search {
	max-width:					45em;
}

ic-search form {
	background:					transparent;
}



.XS ic-taxonomy-filter section  > div {
	padding-left:				1rem !important;	
	padding-right:				1rem !important;				
}


ic-taxonomy-overlay {
	padding-top:				0;
	padding-left:				1rem;
	padding-right:				1rem;
	padding-bottom:				1rem;
}

ic-taxonomy-overlay h2 {
	display:					block;
	margin:						0 auto;
	margin-bottom:				1rem;
	text-align:					center;
}


ic-taxonomy-overlay h2 + input {
	margin:						1rem auto;
	width:						18rem !important;
}


ic-taxonomy-overlay ul {
	display:					flex;
	padding-left:				0 !important;
	padding-right:				0 !important;
	padding-top:				0 !important;
	padding-bottom:				0 !important;
	margin:						auto;
	max-width:					45rem;
	flex-wrap:					wrap;
	width:						auto !important;
	justify-content: 			space-between;
}

ic-taxonomy-overlay ul li {
	flex:						0 0 20rem;
	display:					inline-flex !important;
	align-items:				center;
	justify-content:			start;
	padding-left:				3rem;
	padding-right:				0.5rem;
	padding-top:				0.5rem;
	padding-bottom:				0.5rem;
	background-position:		0.75rem 50% !important;
	margin-bottom:				0.25rem !important;
}


ic-taxonomy-overlay ul li:first-child{
	flex:						0 1 100%;
}

ic-taxonomy-overlay ul .types li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul .categories li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul .unsorted li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul li div {
	flex:						1 1 auto;
	display:					inline-block;
	vertical-align:				middle;
}

ic-taxonomy-overlay ul li .bubble {
	display:					inline-block;
	flex:						0 0 auto;
}




ic-item-full .sponsors {
	margin-top:					2rem;

}

ic-item-full .sponsors .title {
	font-weight:				700;
	line-height:				1.5rem;
}

ic-item-full .sponsors .logos {
	display:					flex;
	flex-wrap:					wrap;
	justify-content: 			flex-start;
	margin:						-0.5rem;
}

ic-item-full .sponsors .logos > * {
	object-fit:					contain;
	height:						10rem;
	width:						10rem;
	margin:						0.5rem;
}





ic-page #sponsors {
	display:					flex;
	flex-wrap:					wrap;
	justify-content: 			space-around;
}

ic-page #sponsors > * {
	flex:						0 0 auto;
	text-align:					center;
	margin-bottom:				2rem;
	max-width:					100%;
}

ic-page #sponsors > * .logos {
	display:					flex;
	align-items:				center;
	justify-content: 			center;
	flex-wrap:					wrap;
	max-width:					100%;
}

ic-page #sponsors > * .logos > * {
	flex:						1 0 0;
	height:						12rem;
	width:						16rem;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	margin:						1rem;
	min-width:					10rem;
}


.XS ic-page #sponsors > * .logos {
	flex-wrap:					wrap;
}

.boxed {
	font-size:					0.9em !important;
	font-weight:				600 !important;
	line-height:				1em !important;
	border-width:				1px !important;
	padding:					1em 2rem !important;
}