
ic-header .logo {
	justify-content:			flex-start;
	margin-left:				2rem;
}

ic-header .logo ic-logo-full {
	font-size:					5rem;
}

ic-header ic-main-menu {
	background-color:			#608CB9;
}


ic-page p {
	line-height:				1.85em;
}

ic-page header {
	height:						7rem;
	background-image:			none !important;
	background-color:			#CACACA;
}

ic-page header .search {
	position:					absolute;
	bottom:						0;
	background:					transparent;
	left:						0;
	right:						0;
}


ic-page	h3 {
	font-size:					1.75em;
}


.XS ic-taxonomy-filter section  > div {
	padding-left:				1rem !important;	
	padding-right:				1rem !important;				
}


ic-taxonomy-overlay {
	padding-top:				0;
	padding-left:				1rem;
	padding-right:				1rem;
	padding-bottom:				1rem;
}

ic-taxonomy-overlay h2 {
	display:					block;
	margin:						0 auto;
	margin-bottom:				1rem;
	text-align:					center;
}


ic-taxonomy-overlay h2 + input {
	margin:						1rem auto;
	width:						18rem !important;
}


ic-taxonomy-overlay ul {
	display:					flex;
	padding-left:				0 !important;
	padding-right:				0 !important;
	padding-top:				0 !important;
	padding-bottom:				0 !important;
	margin:						auto;
	max-width:					45rem;
	flex-wrap:					wrap;
	width:						auto !important;
	justify-content: 			space-between;
}

ic-taxonomy-overlay ul li {
	flex:						0 0 20rem;
	display:					inline-flex !important;
	align-items:				center;
	justify-content:			start;
	padding-left:				3rem;
	padding-right:				0.5rem;
	padding-top:				0.5rem;
	padding-bottom:				0.5rem;
	background-position:		0.75rem 50% !important;
	margin-bottom:				0.25rem !important;
}


ic-taxonomy-overlay ul li:first-child{
	flex:						0 1 100%;
}

ic-taxonomy-overlay ul .types li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul .categories li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul .unsorted li.disabled {
	display:					none;
}

ic-taxonomy-overlay ul li div {
	flex:						1 1 auto;
	display:					inline-block;
	vertical-align:				middle;
}


ic-survey-popup button {
	position:					absolute !important;
	top:						0.5rem !important;
	right:						0.5rem !important;
}

ic-survey-popup {
	padding:					1rem 3rem !important;
}

ic-survey-popup > div {
	margin:						0;
	width:						auto;
}




ic-item-full .sponsors {
	margin-top:					2rem;

}

ic-item-full .sponsors .title {
	font-weight:				700;
	line-height:				1.5rem;
}

ic-item-full .reach .title {
	font-weight:				700;
	line-height:				1.5rem;
}

ic-item-full .sponsors .logos {
	display:					flex;
	flex-wrap:					wrap;
	justify-content: 			flex-start;
	margin:						-0.5rem;
}

ic-item-full .sponsors .logos > * {
	object-fit:					contain;
	height:						10rem;
	width:						10rem;
	margin:						0.5rem;
}





ic-page #sponsors {
	display:					flex;
	flex-wrap:					wrap;
	justify-content: 			space-around;
	text-align:					center;
	width:						80rem;
	max-width:					100%;
}

ic-page #sponsors > *{
	width:						20rem;
	max-width:					100%;
	display: 					flex;
	flex-direction:				column;
	justify-content:			space-between;
	max-width:					30%;
	flex:						1 0 0;

}

ic-page #sponsors > * .logos{
	flex:						0 0 auto;
	display:					flex;
	flex-direction:				column;
	justify-content:			center;	
	align-items:				center;
	margin:						0 auto;
}


ic-page #sponsors > *:nth-child(1) .logos{	
	height:						15rem;
	width:						15rem;
}

ic-page #sponsors > *:nth-child(1) .logos > a {
	height:						10rem;
}




ic-page #sponsors > *:nth-child(2) .logos{
	height:						15rem;
	width:						15rem;

}

ic-page #sponsors > *:nth-child(2) .logos > a {
	height:						10rem;	
}



/*
ic-page #sponsors > *:nth-child(3) .logos{
	height:						15rem;
	width:						15rem;

}

ic-page #sponsors > *:nth-child(3) .logos > a {
	height:						4rem;
	width:						15rem;	
}

*/


ic-page #sponsors > *:nth-child(3) {
	flex:						1 0 100%;
	max-width:					100%;
	height:						auto;
}

ic-page #sponsors > *:nth-child(3) .logos > a {
	height:						5rem;
	width:						45rem;
	max-width:					100%;
}


ic-page #sponsors > * .logos a {
	flex:						0 0 auto;
	display:					block;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	min-width:					12rem;
	flex-direction:				column;
}

ic-page #sponsors > * .logos a + a {
	margin-top:					1rem;
}

.XS ic-page #sponsors,
.XS ic-page #sponsors  * {
	flex-direction:				column;
	max-width:					100%;
}


.boxed {
	font-size:					0.9em !important;
	font-weight:				600 !important;
	line-height:				1em !important;
	border-width:				1px !important;
	padding:					1em 2rem !important;
}



/* XS/Overlay main menu */


ic-overlays ic-main-menu > ul > li:nth-child(1){
	padding-top:				2rem;
}


ic-overlays ic-main-menu > ul > li:nth-child(4){
	padding-bottom:				0rem;
}


ic-overlays ic-main-menu > ul > li:nth-child(5){
	padding-top	:				0rem;
}


/** Footer **/

ic-footer a {
	display:					inline;
	border:						none;
	border-radius:				0;
	margin-right:				1rem;
	font-weight: 				600;
	padding: 					0.5rem;
}


/** Tiles **/

ic-page .tiles > *:not(:hover):not(:focus) > .content {
	color:						var(--dark-text-color);
}

ic-page .tiles > *:not(:hover):not(:focus)  .icon {
	filter:						invert(1);
}

ic-page .tiles > * > .content > h3 {
	font-weight:				600;
}

ic-page .tiles > * > .content > p {
	font-weight:				500;
}

 ic-header .tools a span, ic-header .tools .normal {
 	font-weight:				500 !important;
 }

/* tags */

ic-breadcrumbs button {
	color: 						var(--dark-text-color) !important;	
}

ic-breadcrumbs button .icon {
	filter:						invert(1);
}

.ic-tag {
	font-weight:				normal;
	color:						var(--dark-text-color) !important;	;
	text-shadow:				none;
}

